@font-face {
    font-family: 'Cascadia Code';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/cascadiacode-regular.woff2"), url("../fonts/cascadiacode-regular.woff");
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/cascadiacode-italic.woff2"), url("../fonts/cascadiacode-italic.woff");
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/cascadiacode-bold.woff2"), url("../fonts/cascadiacode-bold.woff");
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/cascadiacode-bolditalic.woff2"), url("../fonts/cascadiacode-bolditalic.woff");
}

@font-face {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/poppins-regular.woff2"), url("../fonts/poppins-regular.woff");
}

@font-face {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/poppins-italic.woff2"), url("../fonts/poppins-italic.woff");
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/poppins-bold.woff2"), url("../fonts/poppins-bold.woff");
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/poppins-bolditalic.woff2"), url("../fonts/poppins-bolditalic.woff");
}
