footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 8rem;

    background-color: #000000;
}

footer > p {
    color: #FFFFFF;
}