header {
    position: relative;

    padding: 1rem;
    margin: 0;
    height: 5rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

header:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 95%;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000000;
}

header > article {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

header > article > img {
    max-height: 100%;
}

header > article > h2 {
    margin-left: 1rem;
}

header > ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

header > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header > ul > li {
    margin: 0 1rem;
}