main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

main > article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

main > article {
    max-width: 40%;
    margin: 2rem 0;
}

main > article > .content {
    flex-basis: 75%;
}

main > article > .illustration {
    align-self: flex-start;
    flex-basis: 25%;
}

main > article > .illustration > img {
    max-width: 100%;
}

main > article:nth-of-type(odd) {
    align-self: flex-start;
    margin-left: 20%;
}

main > article:nth-of-type(odd) > .illustration {
    order: -1;
    padding-right: 4rem;
}

main > article:nth-of-type(even) {
    align-self: flex-end;
    margin-right: 25%;
}

main > article:nth-of-type(even) > .illustration {
    order: 1;
    padding-left: 4rem;
}